/* a{
    text-decoration:none;
}
#one{
    color:rgb(10, 232, 10);
    color:green;
    color:#ff12ff;
    background-color: black;
}
div{
border: green solid 5px;
border-radius: 5px;
box-shadow: 5px 10px yellow;
margin:20px;
padding: 20px;
}
body{
    background-image: url('minion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

